---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="max-w-2xl lg:max-w-xl mx-auto font-inter">
  <header class="flex justify-end my-8 md:my-16 mx-4">
    <nav class="flex gap-4">
      <a href="/experience">xp</a>
      <a href="/projects">apps</a>
      <a href="/articles">writings</a>
    </nav>
  </header>
  <main class="mx-4">
    <section>
      <h1 class="text-4xl font-bold mb-1">Bonjour, I'm Moussa.</h1>
      <p class="text-gray-500 text-xl block mb-4">Product Engineer based in Paris.</p>
      <p class="text-lg">I'm designing and building products that help solo founders and small businesses scale and shine. ✨</p>
    </section>
  </main>
</div>
