---
import "../styles/global.css";

const CANONICAL_URL  = new URL(Astro.url.pathname, Astro.site).href;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={CANONICAL_URL} />
    <link rel="preload" href="/fonts/Inter.ttf" as="font" type="font/ttf" crossorigin>
		<meta name="generator" content={Astro.generator} />
		<title>Moussa Isk - Product Engineer</title>
	</head>
	<body>
    <!-- Background decorative elements -->
    <div class="absolute inset-0 overflow-hidden pointer-events-none">
      <div class="absolute -top-40 -right-40 w-80 h-80 bg-gradient-to-br from-blue-400/20 to-purple-600/20 rounded-full blur-3xl"></div>
      <div class="absolute -bottom-40 -left-40 w-80 h-80 bg-gradient-to-tr from-pink-400/20 to-orange-400/20 rounded-full blur-3xl"></div>
    </div>
		<slot />
	</body>
</html>
