---
const CANONICAL_URL  = new URL(Astro.url.pathname, Astro.site).href;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={CANONICAL_URL} />
		<meta name="generator" content={Astro.generator} />
		<title>Moussa Isk - Software Engineer</title>
	</head>
	<body>
		<slot />
	</body>
</html>
